.root {
  width: 100%;
  padding: 0.83vw 2.6vw;
  font-size: 1.65vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.lowerRight {
  display: flex;
  align-items: center;
}

.spinner {
  transition: 0.25s all;
  opacity: 1;
  align-self: center;
}

.spinner.hidden { opacity: 0; }
