.root {
  width: 100%;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex: 1 !important;
  flex-wrap: wrap !important;
}

.root > * {
  font-size: 36px;
  line-height: 1.5;
}
