.root {
  font-size: 64px;
  font-family: 'citrixsans-semibold', sans-serif;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.root a {
  color: #FFF
}

.body {
  margin: 0 auto;
  width: 80%;
}
