.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex: 1;
  color: #FFF;
  text-shadow: 0.05vw 0.05vw 0.1vw rgba(0,0,0,0.8);
  text-shadow: 0.05vmax 0.05vmax 0.1vmax rgba(0,0,0,0.8);

  background: no-repeat center center fixed;
  background-color: rgba(0,0,0,0.75);
  transition: background-image 1000ms ease-in 500ms;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
