.root {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  border-color: #47B350;
  border-width: 30px;
  border-left-style: solid;
  padding-left: 30px;
  margin: 0 30px;
}

.bookingIndicator {
  color: #AAA;
  font-family: 'citrixsans-regular', sans-serif;
  font-size: 52px;
  line-height: 1.25;
}

.action {
  color: #777;
  font-family: 'citrixsans-light', sans-serif;
  font-size: 52px;
  line-height: 1.25;
}
