.root {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: auto;
  color: rgba(255,255,255,1);
  font-size: 36px;
  text-align: right;
}

.metadata {
  margin-right: 16px;
}

.time {
  font-size: 2em;
}
