.header {
  background: rgba(0,0,0,0.7);
  height: 52px;
  width: 100%;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 24px;
}

.citrixLogo {
  width: 76px;
  height: 28px;
}
