.root {
  width: 100%;
  max-width: 1800px;
  align-items: center !important;
}

.speechContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.speechContainer button {
  display: none;
}

.roomIndicator{
  width: 100%;
  justify-content: flex-start !important;

}
