.App {
  min-height: 100%;

  background: #213752;
  background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
  background-size: 300% 300%;

  color: #FEFEFE;
  font-size: 16px;

  justify-content: center;
  align-items: center;
  font-size: 56px;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
